<header>
	<div = id="header-div">
		<div id="logo">
			BitlyClone
		</div>
		<div id="nav-bar">
			<ul>
				<li><a>TOUR</a></li>
				<li><a>ENTERPRISE</a></li>
				<li><a>RESOURCES</a></li>
				<li><a>BLOG</a></li>
				<li><a>ABOUT</a></li>
			</ul>
		</div>
		<div id="login-signup">
			<a id="login-btn">LOGIN</a>
			<a id="signup-btn">SIGN UP</a>
		</div>
	</div>
</header>
<div id="text-form">
	<h1 id="big-text">THE LINK KNOWS ALL. SO CAN YOU.</h1>
	<div id="small-text">
		Measure your links with Bitly, the world's leading link management platform.
	</div>
	<form id="url-submit" action="/url" method="post">
		<input id="url-input" type="text" name="long_url" placeholder="Paste a link to shorten it">
		<button id="shorten-btn" type="submit" name"Submit">Shorten</button>
	</form>
	<% if @error_msgs != nil %>
		<p id="error-msg"><%= @error_msgs %></p>
	<% end %>
	<div id="signup-learnmore">
		<a id="signupforfree">Sign Up For Free</a>
		<a id="learnmore">or Learn more</a>
	</div>
</div>
<div id="table-div">
	<table id="url-table" border="1" cellpadding="10">
		<tr id="url-table-header">
			<th id="short-url">Short URL</th>
			<th id="long-url">Long URL</th>
			<th id="click-count">Click Count</th>
		</tr>
		<% if @array != nil %>
			<% @array.each do |row| %>
				<tr>
					<td><a class="url-link" href="/<%= row.short_url %>"><%= row.short_url %></a></td>
					<td><%= row.long_url %></td>
					<td><%= row.click_count %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>