	<form id="url-submit" action="/url" method="post">
		<input id="url-input" type="text" name="long_url" placeholder="Paste a link to shorten it">
		<button id="shorten-btn" type="submit" name"Submit">Shorten</button>
	</form>
	<% if @error_msgs != nil %>
		<p id="error-msg"><%= @error_msgs %></p>
	<% end %>
	<div id="signup-learnmore">
		<a id="signupforfree">Sign Up For Free</a>
		<a id="learnmore">or Learn more</a>
	</div>
</div>
<div id="table-div">
	<table id="url-table" border="1" cellpadding="10">
		<tr id="url-table-header">
			<th id="short-url">Short URL</th>
			<th id="long-url">Long URL</th>
			<th id="click-count">Click Count</th>
		</tr>
		<% if @array != nil %>
			<% @array.each do |row| %>
				<tr>
					<td><a class="url-link" href="/<%= row.short_url %>"><%= row.short_url %></a></td>
					<td><%= row.long_url %></td>
					<td><%= row.click_count %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>